<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jamieadkins.heistr" >

    <uses-permission android:name="android.permission.NFC"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".Activities.BuildListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.EditBuildActivity"
            android:label="@string/title_activity_edit_build">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="pd2skills.com"
                    android:scheme="http" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/vnd.com.jamieadkins.heistr"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.EditWeaponActivity"
            android:label="@string/title_activity_edit_weapon">
        </activity>
        <activity
            android:name=".Activities.SettingsActivity"
            android:theme="@style/Base"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
                android:name=".Activities.BigOilActivity"
                android:label="@string/big_oil"
                android:parentActivityName=".Activities.BuildListActivity">
        </activity>
    </application>

</manifest>
